body{
    background-color: purple;
}
h1{
    color: blue;
}
h1 h2 h4{
    text-align: center;
}
#songs{
    font-family: times;
    border-collapse: collapse;
    width: 100%;
}#songss td, #songs th {
    border: 1px solid whitesmoke;
    padding: 8px;
  }
  
  #songs tr:nth-child(even){background-color: white;}
  
  #songs tr:hover {background-color: whitesmoke;}
  
  #songs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
  }